*{
    margin: 0;
    padding: 0;
}
.container{
   background: red;
   display: grid;
   height: 700px;
   /*
   grid-template-rows: 133px 133px 133px;
   grid-template-columns: 133px 133px 133px;
   row-gap: 12px;
   column-gap: 12px;
   */
   /*
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   */
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 143px 1fr 43px;
   row-gap: 12px;
   column-gap: 12px;
   /*
   justify-items: center;
   /*align-items: center;*/
   place-items: center;
}

.item{
background: aqua;

height: 122px;
width: 122px;

}
.item1{
    color: #fff;
    /*
    grid-column-start: 1;
    grid-column-end: 4;
    */
    grid-column: 1 / span 3;
    background: rgb(41, 11, 11);
    width: 100vw;
}
.item2{
    /*
    justify-self: center;
    align-self: center;
    */
    /*
    place-self: center;
    */
}
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background: rgb(41, 11, 11);
    width: 100vw;
}